@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Ahmed Fahim Foysal<br />
    H: 41/11/A, R: 2<br />
    Chand Housing Ltd<br />
    Mohammadpur, Dhaka<br />
    <abbr title="Phone">P:</abbr>
    +8801737763716
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:eishon.dev@gmail.com">eishon.dev@gmail.com</a><br />
</address>
