@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>ShoutBook</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to ShoutBook</h2>
        <p>
            ShoutBook is a sample application that
            demonstrates a Social Networking created on ASP.NET Core.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Register to Shout...</p>
        <p>
            <a class="btn btn-default"
               href="/Identity/Account/Register">
                Register &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>Login to Zone...</p>
        <p>
            <a class="btn btn-default"
               href="/Identity/Account/Login">
                Login &raquo;
            </a>
        </p>
    </div>
</div>